.mode-picker
  display: flex
  flex-flow: row nowrap
  justify-content: center
  position: absolute
  top: 20px
  left: 0
  width: 100vw

  &_option
    cursor: pointer
    margin-left: 10px
    transition: color 0.2s linear

    &.m-current
      color: $blue
