.settings-trigger
  position: absolute
  left: 20px
  bottom: 20px
  cursor: pointer
  opacity: .5
  width: 32px
  height: 32px
  background-color: red
  background-image: url('../images/settings.png')
  background-size: contain
  background-repeat: no-repeat
  background-position: center center
