.settings
  font-size: 20px

  &_working-day
    cursor: pointer
    margin-bottom: 5px
    -webkit-user-select: none

    &::before
      content: '⊡'

    &.m-active
      &::before
        content: '🗹'
