.settings-trigger
  position: absolute
  left: 20px
  bottom: 20px
  cursor: pointer
  opacity: .5
  width: 24px
  height: 24px
  background-image: url('/settings.png')
  background-size: contain
  background-repeat: no-repeat
  background-position: center center
